
/* ask Tor how to make fixed footer and background black w3 schools not working */ 
body {
  background-color: black:
    
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  
}


#h1 {
  color: red;
}

.list {
  background-color: #D0D6B5;
}

/* these are ingredients, directions, and equipment */

#column1 {
  background-color: #FF7F50;
  height: auto;
  width: 25%;
  float: left;
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;
  
}

#column2 {
  background-color: #8FBC8F;
  height: auto;
  width: 25%;
  float: left;
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;
}

#column3 {
  background-color: #B0C4DE;
  height: auto;
  width: 33%;
  float: left;
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;
}

.img-fluid {
  height: 500px;
  width: 800px;
  display: block;
}


/* js for list dropdown */


div#column1.iClicked {
  height: 5vh;
}

div#column2.eClicked {
  height: 5vh;
}

div#column3.dClicked {
  height: 5vh;
}








 

/* for mobile */

@media screen and (max-width: 575px) {
  h4 {
    text-color: #B22222;
  }
  div {
    background-color: black;
  }
}

/* below is desktop screen */

@media screen and (min-width: 576px) {
  h1 {
    text-color: #F5F5DC;
  }
  h4 {
    color: black;
  }
}

@media (orientation: portrait) {
  div {
    width: 100vw;
  }
}

@media (orientation: landscape) {
  div {
    display: inline-block;
    float: left;
    width: calc(100vw/3 - 1vw);
    padding: 1vw;
  }
}